<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>ProjetPython</title>
</head>
<body>
    
        <h1 class="text-center">Bienvenue au jeu du Juste Prix</h1>
        <p class="text-center">L'objet choisi aléatoirement est :<br><br>
            {{NAME}} <br><br>
            <img src="{{IMAGE}}" class="rounded mx-auto d-block"> </p>
           

{%if PRIXUSER == PRIXOBJET %}
    <p>Bravo! Vous avez gagné <br>
    <p>Il vous a fallu {{TEMPS.seconds}} secondes</p>
    </p>

    <form action="/" method="get">
        <input type="submit" value="recommencer"/>
    </form>
{%else%}
        <form action="/" method="post">
            <p class="text-center">Trouvez le prix correct</p>
            <input type="hidden" name="random_item" value="{{RANDOM_ITEM}}"/>
            <input class="center-block" type="number" name="prixinput" id="prixinput"/>
            <input type="hidden" name="historique" value="{{HISTORIQUE}}"/>
            <input type="hidden" name="firstry" value="{{FIRSTRY}}"/>
            <input class="center-block" type="submit" id="Valider"/>
            
        </form> 
    {%if PRIXUSER != 0 %}

        {%if PRIXUSER > PRIXOBJET%}
            <p class="text-center">Le prix est plus petit</p>
        {%else%}
            <p class="text-center">Le prix est plus grand</p>
    
        {%endif%}
    {%endif%}
{%endif%}

{%if PRIXUSER != 0 %}
<h4 class="text-center">tentatives précédentes:</h4>
<ul>
    {%for currentvalue in HISTORIQUE %}
        <li class="text-center">{{currentvalue}}</li>
    {%endfor%}
</ul>
{%endif%}           

</body>
</html>


