<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>ProjetPython</title>
</head>
<body>
        <h1 class="text-center">Bienvenue au jeu du JustePrix</h1>
        <p>L'objet choisi aléatoirement est : {{NAME}} <img src="{{IMAGE}}"> </p>
           

{%if PRIXUSER == PRIXOBJET %}
    <p>Bravo! Vous avez gagné <br>
    {{TEMPS.seconds}}
    </p>

    <form action="/" method="get">
        <input type="submit" value="recommencer"/>
    </form>
{%else%}
        <form action="/" method="post">
            <p>Trouvez le prix correct</p>
            <input type="hidden" name="random_item" value="{{RANDOM_ITEM}}"/>
            <input type="number" name="prixinput" id="prixinput"/>
            <input type="hidden" name="historique" value="{{HISTORIQUE}}"/>
            <input type="hidden" name="firstry" value="{{FIRSTRY}}"/>
            <input type="submit" id="envoyer"/>
            
        </form> 
    {%if PRIXUSER != -1 %}

        {%if PRIXUSER > PRIXOBJET%}
            <p>Le prix est trop grand</p>
        {%else%}
            <p>Le prix est trop petit</p>
    
        {%endif%}
    {%endif%}
{%endif%}

{%if PRIXUSER != -1 %}
<h2>tentatives précédentes:</h2>
<ul>
    {%for currentvalue in HISTORIQUE %}
        <li>{{currentvalue}}</li>
    {%endfor%}
</ul>
{%endif%}           

</body>
</html>


